<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">FoodApp - KITCHEN STAFF</a>
      </nav>
    
      <div class="button-container">
        <div class="button" routerLink="/create">
          <i class="fas fa-list"></i> View All Orders
        </div>
        <div class="button">
            <i class="fas fa-search"></i> Pending
        </div>
        <div class="button" routerLink="/product">
            <i class="fas fa-check"></i>Completed
        </div>
      </div>
    
</body>
