<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">FoodApp - ADMIN</a>
      </nav>
    
      <div class="button-container">
        <div class="button" routerLink="/create">
          <i class="fas fa-utensils"></i> Add Restaurant
        </div>
    
        <div class="button" routerLink="/addmenu">
          <i class="fas fa-file-alt"></i> Add Menu
        </div>
    
        <div class="button" routerLink="/product">
          <i class="fas fa-utensils"></i> View Restaurants
        </div>
    
        <div class="button" routerLink="/menu">
          <i class="fas fa-file-alt"></i> View Menu
        </div>

        <div class="button" routerLink="/addkitchenstaff">
          <i class="fas fa-file-alt"></i> Add Kitchen Staff
        </div>
    
      </div>
</body>

